# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.envrc
.direnv

# pre-commit
.pre-commit-config.yaml

# Python cache
**/__pycache__

# Development DB
**/*.sqlite3

# GitHub specific
.github/

# macOS system file
.DS_Store